body {
    background-color: rgb(12, 28, 53);
    color: whitesmoke;
}

#navbar {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0;
    padding: 15px;
    
}

a {
    color: orangered;
}
a:hover {
    color: rgb(207, 114, 114);
}

.main-idea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
}

@media screen {
    max-width: 600px;
}